<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="../public/reset-password/reset-password.css">
</head>
<body>


    <h1>Reset Password</h1>

    <label for="password">New Password</label>
    <input id="password" type="password" name="password" value="" placeholder="New Password" autofocus="autofocus">

    <label for="confirm">New Password</label>
    <input id="confirm" type="password" name="confirm" value="" placeholder="Confirm Password">

    <button id="submit">Update Password</button>



    <script type="text/javascript" src="../public/reset-password/reset-password.js" ></script>

</body>
</html>