

body {
    background-color: #F3F2FC;
}


img {
    width: 170px;
    height: 40px;
    margin: auto;
    display: block;
}


h3 {
    font-size: 1em;
    color: #80879B;
    padding: 0 5px;
    margin-bottom: 25px;
    text-align: center;
}


button {
    background: linear-gradient(to right, #6cb7ff 0%, #7985ff 100%);
    height: 50px;
    width: 350px;
    color: white;
    border: none;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-box-shadow: 0 20px 15px -15px rgba(118, 115, 255, 0.5);
    -moz-box-shadow: 0 20px 15px -15px rgba(118, 115, 255, 0.5);
    box-shadow: 0 20px 15px -15px rgba(118, 115, 255, 0.5);
}


button:hover {
    -webkit-box-shadow: 0 23px 15px -15px rgba(118, 115, 255, 0.5);
    -moz-box-shadow: 0 23px 15px -15px rgba(118, 115, 255, 0.5);
    box-shadow: 0 23px 15px -15px rgba(118, 115, 255, 0.5);
}


#reset-password-wrapper {
    width: 80vw;
    height: 80vh;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 28px 37px 0 rgba(74, 144, 226, 0.1);
    padding-top: 250px;
    margin: -50px auto auto;
}


#reset-password-container {
    width: 80%;
    height: 80%;
    margin: auto;
}

