<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>

<form method="POST">

    <legend>Reset Password</legend>

    <label for="password">New Password</label>
    <input id="password" type="password" name="password" value="" placeholder="New Password" autofocus="autofocus">

    <label for="confirm">New Password</label>
    <input id="confirm" type="password" name="confirm" value="" placeholder="Confirm Password">

    <button type="submit">Update Password</button>
</form>

</body>
</html>